<!-- Display all the users stuff -->
<!-- Manage all of his items -->
<h1>
    My Stuff Page
</h1>

<!-- check if the user has stuff -->
<% if(products.length !== 0){ %> 

<!-- this should hold all the products -->
<div class="container" style="display: flex; margin: 10px; border: 5px solid blue;">




    <% products.forEach(product => { %>
     
    <!-- Loop over the products -->
    
        <div style="text-align: center; display: inline-block; margin: 10px; border: 5px solid red;">
    
    
            <div style="object-fit: cover; width: 200px; height: 250px; margin: 0 auto;">
    
                <a href="/users/my-stuff/<%= product.id %> ">
    
                    <img src="<%= product.picture[0] %>" style="width: 200px;" alt="">
                </a>
            </div>
    
            <h4><%= product.name %> </h4>
            <h4><%= product.category %> </h4>
            <h4><%= product.categoryDesc %> </h4>
            <h4><%= product.size %> </h4>
            <!-- <h4><%=// product.userId %> </h4> -->
            <!-- <h4><%=// product.color %> </h4> -->
            <!-- <h4><%= //product.description %> </h4> -->
            <h4><%= product.price %> </h4>
            <!-- <h4><%= //product.forSale %> </h4>
            <h4><%= //product.gender %> </h4> -->
    
        </div>
    
        <% }) %>
    
</div>


<% } %> 