<h1>Single Stuff Page</h1>

<h1><%= product.name %> Page</h1>


<!-- The product owner can edit his stuff -->

<div style="text-align: center; display: block; margin: 10px; border: 5px solid red;">


    <form action="/users/my-stuff/update/<%= product.id %>/?_method=PUT" method="POST" id="updateForm">


    <% product.picture.forEach(pic => { %>

        <!-- will be a loop of pictures -->
        <!-- <div style="object-fit: cover; width: 200px; height: 250px; margin: 0 auto;"> -->

        <img style="width: 200px;" src="<%= pic %>" alt="">
        <!-- </div> -->
     
    <% }) %>
    
    <!-- <h4><%= //product.picture %></h4> -->


    <br>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= product.name %>">
    <br>


    <label for="category">Category:</label>

    <select name="category" id="category">
    <% categories.forEach(category => { %>
     
        <% if (category === product.category) { %>
         
            <option name="<%= category %>" value="<%= category %>" selected><%= category %></option>
        <% } else { %>

            <option  name="<%= category %>" value="<%= category %>"><%= category %></option>
         <% } %> 

    <% }) %>
    </select>
    <br>

    <label for="categoryDesc">Categories Description:</label>
    <input type="text" id="categoryDesc" name="categoryDesc" value="<%= product.categoryDesc %>">
    <br>

    <label for="size">Size:</label>
    <input type="text" id="size" name="size" value="<%= product.size %>">
    <br>

    
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" value="<%= product.color %>">
    <br>


    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="<%= product.description %>">
    <br>


    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%= product.price %>">
    <br>


    <p>Is Product on Sale?</p>
    <!-- Check if product is on sale -->
    <label for="yes">Yes</label>
    <% if (product.forSale === true) { %>
        <input type="radio" name="forSale" id="yes" value="true" checked>
    <% } else { %>
        <input type="radio" name="forSale" id="yes" value="true">
    <% }%>


    <label for="no">No</label>
    <% if (product.forSale === false) { %>
        <input type="radio" name="forSale" id="no" value="false" checked>

    <% } else { %>
        <input type="radio" name="forSale" id="no" value="false">
    <% }%>


    <br>

    <p>Gender:</p>
    <!-- Check the product gender -->
    <label for="male">Male</label> 
    <% if (product.gender === 'male') { %>
        <input type="radio" name="gender" id="male" value="male" checked>

    <% } else { %>
        <input type="radio" name="gender" id="male" value="male">
    <% }%>


    <label for="female">Female</label>
    <% if (product.gender === 'female') { %>
        <input type="radio" name="gender" id="female" value="female" checked>

    <% } else { %>
        <input type="radio" name="gender" id="female" value="female">
    <% }%>

    <br>
    <br>


    <div id="productImages">


        <% product.picture.forEach((element,idx) => { %>
         
    
            <label for="picture-<%= idx %>">Picture <%= idx+1 %></label>
            <input type="text" name="picture[]" value="<%= element %>" id="picture-<%= idx %>" size="150">
            <br>
             
        <% }) %>
    </div>



    <input type="button" value="Add New Picture" id="addPictureBtn">

    <br>
    <input type="submit" value="Update Product">

    </form>


    <form action="/users/my-stuff/delete/<%= product.id %>/?_method=DELETE" method="POST" id="deleteForm">
        <input type="submit" value="Delete Product">
    </form>

</div>


<!-- Reviews -->
<h1>Reviews Div</h1>
<div class="reviews-containers"  style="text-align: center; display: block; margin: 10px; border: 5px solid red;">

    <!-- Loop over reviews -->
    <% product.reviews.forEach(review => { %>

        <div style="text-align: center; display: block; margin: 10px; border: 5px solid red;">


            <p>Review Date: <%= review.createdAt.getFullYear()+'/'+(review.createdAt.getMonth()+1)+'/'+review.createdAt.getDate();  %> </p>

            <h4>Review Title: <%= review.title %></h4>
            <h4>Username:<%= review.user.username %></h4>

            <h4>Content:</h4>
            <p><%= review.content %></p>

            <!-- Add some loop for the stars -->
            <h4><%= review.stars %> Stars</h4>


        
        </div>
    <% }) %>



</div>


<script>

// const picturesDiv =  document.getElementById('pictures')
const addPictureBtn = document.getElementById('addPictureBtn')
const productImages = document.getElementById('productImages')


// <label for="picture<%=// idx %>">Picture <%= //idx+1 %></label>
// <input type="text" name="picture[]" value="<%= //element %>" id="picture-<%=// idx %>" size="150">
// <br>

const product =  '<%- product %>'

let picturesLength  = parseInt('<%- product.picture.length %>')



// var x = document.createElement("LABEL");
//   var t = document.createTextNode("Male");
//   x.setAttribute("for", "male");
//   x.appendChild(t);
//   document.getElementById("myForm").insertBefore(x,document.getElementById("male"));


const addNewProduct = () => {


    console.log(picturesLength)
    // const lastPictureField = document.getElementById(`picture-${picturesLength}`)


    const form = document.getElementById("updateForm")

    const newPictureField = document.createElement('INPUT')
    



    newPictureField.setAttribute('type', 'text')
    newPictureField.setAttribute('id', `picture-${picturesLength}`)
    newPictureField.setAttribute('size', '150')
    newPictureField.setAttribute('name', 'picture[]')



    console.log(newPictureField)


    form.appendChild(newPictureField)


    const label = document.createElement('LABEL')

    const labelText = document.createTextNode(`Picture ${picturesLength + 1}`)

    label.setAttribute("for", `picture-${picturesLength}`)


    console.log(label)


    label.appendChild(labelText)



    // attach label with the

    const br = document.createElement('br')


    // append the image inside the pictureDiv

    
    productImages.appendChild(newPictureField)
    productImages.insertBefore(label,newPictureField);
    productImages.appendChild(br)


    // increase the length
    picturesLength++
}

    addPictureBtn.addEventListener('click', addNewProduct)


</script>