<h1>Single Stuff Page</h1>

<h1><%= product.name %> Page</h1>


<!-- The product owner can edit his stuff -->

<div style="text-align: center; display: block; margin: 10px; border: 5px solid red;">


    <form action="/users/my-stuff/<%= product.id %>/?_method=PUT" method="POST">


    <% product.picture.forEach(pic => { %>

        <!-- will be a loop of pictures -->
        <!-- <div style="object-fit: cover; width: 200px; height: 250px; margin: 0 auto;"> -->

        <img style="width: 200px;" src="<%= pic %>" alt="">
        <!-- </div> -->
     
    <% }) %>
    
    <!-- <h4><%= //product.picture %></h4> -->


    <br>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= product.name %>">
    <br>


    <label for="category">Category:</label>

    <select name="category" id="category">
    <% categories.forEach(category => { %>
     
        <% if (category === product.category) { %>
         
            <option name="<%= category %>" value="<%= category %>" selected><%= category %></option>
        <% } else { %>

            <option  name="<%= category %>" value="<%= category %>"><%= category %></option>
         <% } %> 

    <% }) %>
    </select>
    <br>

    <label for="categoryDesc">Categories Description:</label>
    <input type="text" id="categoryDesc" name="categoryDesc" value="<%= product.categoryDesc %>">
    <br>

    <label for="size">Size:</label>
    <input type="text" id="size" name="size" value="<%= product.size %>">
    <br>

    
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" value="<%= product.color %>">
    <br>


    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="<%= product.description %>">
    <br>


    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%= product.price %>">
    <br>


    <p>Is Product on Sale?</p>
    <!-- Check if product is on sale -->
    <label for="yes">Yes</label>
    <% if (product.forSale === true) { %>
        <input type="radio" name="forSale" id="yes" value="true" checked>
    <% } else { %>
        <input type="radio" name="forSale" id="yes" value="true">
    <% }%>


    <label for="no">No</label>
    <% if (product.forSale === false) { %>
        <input type="radio" name="forSale" id="no" value="false" checked>

    <% } else { %>
        <input type="radio" name="forSale" id="no" value="false">
    <% }%>


    <br>

    <p>Gender:</p>
    <!-- Check the product gender -->
    <label for="male">Male</label> 
    <% if (product.gender === 'male') { %>
        <input type="radio" name="gender" id="male" value="male" checked>

    <% } else { %>
        <input type="radio" name="gender" id="male" value="male">
    <% }%>


    <label for="female">Female</label>
    <% if (product.gender === 'female') { %>
        <input type="radio" name="gender" id="female" value="female" checked>

    <% } else { %>
        <input type="radio" name="gender" id="female" value="female">
    <% }%>

    <br>
    <br>

    <input type="submit" value="Update Product">

    </form>
</div>


<!-- Reviews -->
<h1>Reviews Div</h1>
<div class="reviews-containers"  style="text-align: center; display: block; margin: 10px; border: 5px solid red;">

    <!-- Loop over reviews -->
    <% product.reviews.forEach(review => { %>

        <div style="text-align: center; display: block; margin: 10px; border: 5px solid red;">


            <p>Review Date: <%= review.createdAt.getFullYear()+'/'+(review.createdAt.getMonth()+1)+'/'+review.createdAt.getDate();  %> </p>

            <h4>Review Title: <%= review.title %></h4>
            <h4>Username:<%= review.user.username %></h4>

            <h4>Content:</h4>
            <p><%= review.content %></p>

            <!-- Add some loop for the stars -->
            <h4><%= review.stars %> Stars</h4>


        
        </div>
    <% }) %>



</div>